body {
  background-color: #222222;
  color: white;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0 0 0 0;
}

.entry-picture {
  width: 100%;
}

.title {
  text-align: left;
  margin-bottom: 150px;
  margin-left: 10%;
  margin-top: -200px;
}

.content-wrapper {
  margin: 20px;
  text-align: center;
  align-items: center;
}

.tangled {

}

.true-colors {

}

.contact {
  height: 100px;
  margin: 20px;
}

.contact-header {
  font-weight: bold;
}

.contact-details {

}
